/* universal styles */
body, html {
  height: 100%;
  background-color: #fefbd8;
}

body {
  padding-left: 1rem;
  line-height: 1.4;
}

/* page styles */

.page-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.page-text {
  width: 40%;
}

.page-img {
  width: 58%;
}

.page-img img {
  max-width: 100%;
}

/* body text */

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #618685;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0 0 1rem;
  color: #36486b;
}

p {

  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  padding: 1rem;
  color: #36486b;
}

.lead {
  font-weight: 700;
  margin-bottom: .25rem;
}

/* headline */

.headline {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.headline h1 {
  flex-grow: 1;
}

.headline span {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
}

/* links */

a:link, a:visited {
  text-decoration: none;
  color: #36486b;
}

a:hover, a:active {
  text-decoration: none;
  color: #4040a1;
}

/* carousel */

#carousel {
    width: 100%;
    overflow: visible;
    white-space: nowrap;
    overflow-y: scroll;
    margin-top: 3rem;
}

#carousel .slide {
    display: inline;
}

#carousel .slide img {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  #carousel .slide img {
    max-width: 90%;
    display: block;
    padding: 1rem;
  }
}

/* index */

nav {
  flex-grow: 1;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5rem;
  max-width: 20%;
}

.logo {
  font-family: "Libre Franklin", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #618685;
  margin-bottom: 1rem;
}

nav li {
  display: block;
  padding: .5rem 0;
}

.banner {
  max-width: 75%;
}

.banner img {
  max-width: 100%;
}
