/* universal styles */

body {
  padding: 1rem;
}

/* banner */

nav {
  font-family: "Work Sans", sans-serif;
}

.logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

nav li {
  display: block;
  padding: .5rem 0;
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover, nav a:active {
  text-decoration: none;
  font-style: italic;
  color: black;
}

/* about */

/* visit */

/* contact */
